.summary-card {
  background: var(--card);
  border-radius: var(--radius);
  padding: 25px;

  box-shadow: var(--shadow);

  transition: 0.25s;
}

.summary-card:hover {
  transform: translateY(-5px);
}

.summary-card h4 {
  color: #777;
  margin-bottom: 15px;
}

.summary-card h2 {
  font-size: 36px;
  margin: 0;
}

.summary-card span {
  font-size: 18px;
  color: #777;
}