.summary-card {
  background: white;
  border-radius: 18px;
  padding: 25px;

  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.08);

  transition: 0.25s;
}

.summary-card:hover {
  transform: translateY(-5px);
}

.summary-card h4 {
  color: #777;
  margin-bottom: 15px;
}

.summary-card h2 {
  font-size: 36px;
  margin: 0;
}

.summary-card span {
  font-size: 18px;
  color: #777;
}